{% extends 'index.html.twig' %} 

{% block content %}
	<section class="container-fluid d-flex flex-column align-items-center justify-content-center" >
		<h1>Error</h1>

		{{errorMessage}}

		<a href="{{baseurl}}">Revenir à la page d'accueil</a>
	</section>

{% endblock %}