<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="{{baseurl}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicon-32.png" type="image/png">
    <link rel="icon" sizes="64x64" href="img/favicon-64.png" type="image/png">
    <link rel="icon" sizes="96x96" href="img/favicon-96.png" type="image/png">
    <link  rel="stylesheet" type="text/css" href="style.css" />
    <title>File-Walk</title>
</head>
<body>
    <header id="header" class="container-fluid d-flex flex-column justify-content-center align-items-center" id="home">
          <div class="container-fluid manav">
            <nav id="home" class="navbar navbar-expand-lg navbar-dark bg-light fixed-top">
                <a class="navbar-brand" href="index.html"><i class="far fa-smile-wink"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                    <li class="ml-1 mr-1 nav-item d-flex justify-content-center align-items-center">
                        <a class="m-1 nav-link" href="#">A Propos <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="ml-1 mr-1 nav-item  d-flex justify-content-center align-items-center">
                        <a class="m-1 nav-link" href="#">Devenir Membre</a>
                        </li>
                        <li class="ml-1 mr-1 nav-item  d-flex justify-content-center align-items-center">
                        <a class="m-1 nav-link" href="#">Connexion</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div> 
            <p class="icone"></p>
                <h1 class="title d-flex flex-row" >Files Walk</span></h1>

    </header>
    <section class="container-fluid affichage d-flex flex-wrap align-items-center justify-content-center" >
                {% block content %}
                {%  endblock %}
    </section>
   


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
        <script src="app.js"></script> 
</body>

</html>