{% extends 'index.html.twig' %} 

{% block content %}
	<section class="container-fluid d-flex flex-column align-items-center justify-content-center" >
		<h1>Download page</h1>

		<a href="{{url}}">Télécharger le fichier</a>

		<a href="{{baseurl}}">Aller à la page d'accueil</a>
	</section>
{% endblock %}