{% extends 'index.html.twig' %} 

{% block content %}
    <section class="container-fluid d-flex flex-column align-items-center justify-content-center" >
        <h1>Success</h1>

        <a href="{{url}}">Lien vers la page de Téléchargement</a>

        <a href="{{baseurl}}">Revenir à la page D'acceuil</a>
    </section>


{% endblock %}